---
import type { GeoMapProps } from "./GeoMap";
import TimelineElement from "./TimelineElement.astro";

export type TimelineElementProps = {
  date: string;
  title: string;
  description?: string;
  map?: GeoMapProps;
};

export interface Props {
  elements: Array<TimelineElementProps>;
}

const { elements } = Astro.props;
---

<div class="relative wrap overflow-hidden p-10 h-full">
  <div
    class="border-2-2 border-yellow-555 absolute h-full border"
    style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"
  >
  </div>
  <div
    class="border-2-2 border-yellow-555 absolute h-full border"
    style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"
  >
  </div>
  {
    elements.map((element, index) => {
      const isOdd = index % 2 === 0;
      const position = isOdd ? "left" : "right";
      return (
        <TimelineElement
          date={element.date}
          title={element.title}
          position={position}
          map={element.map}
        >
          {element.description}
        </TimelineElement>
      );
    })
  }
</div>
