---
import { GeoMap, GeoMapProps } from "./GeoMap";
export interface Props {
  position: "left" | "right";
  date: string;
  title: string;
  map?: GeoMapProps;
}

const { position, date, title, map } = Astro.props;
---

<div
  class={`mb-8 flex justify-between ${
    position === "left" ? "flex-row-reverse" : "flex-row"
  } items-center w-full ${position}-timeline`}
>
  <div class="order-1 w-5/12"></div>
  <div
    class={`order-1 w-5/12 px-1 py-4 text-${
      position === "left" ? "right" : "left"
    }`}
  >
    <p class="mb-3 text-base text-yellow-300">{date}</p>
    <h4 class="mb-3 font-bold text-lg md:text-2xl">{title}</h4>
    <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
      <slot />
    </p>
    {
      map && (
        <GeoMap
          client:only="react"
          lat={map.lat}
          lng={map.lng}
          title={map.title}
          url={map.url}
        />
      )
    }
  </div>
</div>
